broken-antler.tplinkdns.com {
    reverse_proxy open-webui:8080
}

chat.broken-antler.tplinkdns.com {
    reverse_proxy open-webui:8080
}

image.broken-antler.tplinkdns.com {
    reverse_proxy comfyui-nvidia:8188
}